---
layout: post
title: Sûreler
redirect_from: https://jeruselam.github.io
redirect_to: jeruselam.github.io
excerpt: "Kur'an-ı Kerim Türkçe Tercümesi ve Çeviri Çalışmasından Alıntıdır. 2017-2018"
search_omit: true
---

<ul class="post-list">
{% for post in site.posts limit:114 %}
  <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.description }}">{{ post.title }} 

<!-- Read time -->
{% capture words %}
	{{ post.content | number_of_words | divided_by:99 }}
{% endcapture %}
{% assign word_count = words | times: 1 %}
{% if word_count != 0 %}
	<span><i class="fa fa fa-file-text-o" style="font-size:17px"></i>  {{ word_count }} dk.</span>
{% else %}
	<span><i class="fa fa fa-file-text-o" style="font-size:17px"></i>  {{ word_count | plus: 1 }} dk.</span>
{% endif %}<!-- Read time -->

{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></li>
{% endfor %}
</ul>
{% include rotate.html %}
<p>
      <a target="_blank" href="https://validator.w3.org/check?uri=referer" rel="nofollow"><img
          src="https://www.w3.org/Icons/valid-xhtml10"
          alt="Valid XHTML 1.0!" height="31" width="88" ></a>

    <a target="_blank" href="https://jigsaw.w3.org/css-validator/validator?uri=jeruselam.github.io&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en">
       <img style="border:0;width:88px;height:31px"
        src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
        alt="Valid CSS!" />
    </a>

<!-- /Flag Counter
<a href="https://www.worldflagcounter.com/details/es3"><img src="https://www.worldflagcounter.com/es3/" alt=""></a> -->
</p>
<a href="https://info.flagcounter.com/dMiT"><img src="https://s04.flagcounter.com/mini/dMiT/bg_FFFFFF/txt_000000/border_CCCCCC/flags_0/" alt="" border="0"></a>
