---
layout: page
title: Sûreler
excerpt: "Kur'an-ı Kerim Türkçe Tercümesi ve Çeviri Çalışmasından Alıntıdır. 2017/"
search_omit: true
---

<ul class="post-list">
{% for post in site.posts limit:114 %}
  <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }} 

<!-- Read time -->
{% capture words %}
	{{ post.content | number_of_words | divided_by:99 }}
{% endcapture %}
{% assign word_count = words | times: 1 %}
{% if word_count != 0 %}
	<span><i class="fa fa fa-file-text-o" style="font-size:17px"></i>  {{ word_count }} dk.</span>
{% else %}
	<span><i class="fa fa fa-file-text-o" style="font-size:17px"></i>  {{ word_count | plus: 1 }} dk.</span>
{% endif %}<!-- Read time -->

{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></li>
{% endfor %}
</ul>

<h2>
Rotate Text Links using jQuery
</h2>
<div id="Links"> <a class="links" href="http://www.google.com">Münafıklar sana geldikleri zaman muhakkak ki senin Allah’ın elçisi olduğuna tanıklık ederiz derler ve Allah bilir (ki) sen muhakkak onun elçisisin ve Allah münafıkların yalancılıklarına şüphesiz tanıklık eder.</a>
  <a class="links" href="http://www.facebook.com">ve Allah hakkında kötü zan ile zanda bulunan münafık erkeklere ve münafık kadınlara ve ortak koşan erkeklere ve ortak koşan kadınlara azabetsin diye kötülük çemberi (olaylar) başlarına gelsin! Allah onlara gazab etmiştir ve onları la’netlemiştir ve onlara cehennemi hazırlamıştır ve orası ne kötü varılacak bir yerdir</a>
  <a class="links" href="http://www.Twitter.com">Twitter</a>
</div>



<script> 
$(document).ready(function() {
  $('#Links').cycle({
        speed: 1000,
        timeout: 15000,
        loader: true
    });
})
</script>

