---
layout: compress
title: "Sitemap"
date: 
modified:
excerpt:
image:
  feature:
search_omit: true
sitemap: false
---

<html><head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="css/sitemap.css">
<script type="text/javascript" src="{{site.url}}/js/jquery-1.11.3.min.js"></script>

	
</head>
<body>
<div class="main_inner" id="main_inner">
	<h2 class="project_title">Site Haritası</h2>
	<p class="last_updated">Son güncelleme Eyl 20, 2017</p>
	<nav class="main_nav" id="main_nav">
		<div class="btn"><a href="javascript:void(0)" id="show">Tüm alt öğeleri göster</a></div>

		<div class="btn"><a href="javascript:void(0)" id="hide">Tümü daralt</a></div> 
	</nav>

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tags_list = site_tags | split:',' | sort %}

<ul class="tag-box inline">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}

<ul><li>
<ul style="display: none;">
<ul><li><span>Kur'an</span>
  {% for post in site.tags[this_word] %}{% if post.title != null %}
    <li class="end"><a href="{{ site.url }}{{ post.url }}"><span>{{ this_word }}</span></a></li>
  {% endif %}{% endfor %}
</ul></li>
  {% endunless %}{% endfor %}

</ul>

<li class="end"><a href="https://jeruselam.github.io/about/"><span>Hakkında</span></a></li>

<li class="end"><a href="https://jeruselam.github.io/zoology/"><span>Hayvanlar</span></a></li>

<li class="end"><a href="https://jeruselam.github.io/botany/"><span>Bitkiler</span></a></li>

<li class="end"><a href="https://jeruselam.github.io/anthropology/"><span>İnsanlar</span></a></li>

<li class="end"><a href="https://jeruselam.github.io/anthropology/"><span>Ayet Bul</span></a></li>

<li class="end"><a href="https://jeruselam.github.io/anthropology/"><span>Şanslısın</span></a></li>

<li class="end"><a href="https://jeruselam.github.io/anthropology/"><span>Sırala</span></a></li>

<li class="end"><a href="https://jeruselam.github.io/anthropology/"><span>Bul-ut</span></a></li>

<li class="end"><a href="https://jeruselam.github.io/anthropology/"><span>Ebced</span></a></li>

</ul></li></ul>

<script type="text/javascript" src="{{site.url}}/js/map.js"></script>
</body>
</html>
