
<div class="navigation-wrapper">
	<nav id="site-nav" class="animated drop">
	    <ul>
      {% for link in site.data.navigation %}
		    {% if link.url contains 'https' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %} target="_blank" {% endif %} > {{ link.title }}</a></li>
		  {% endfor %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% if page.image.feature %}

<header class="masthead">
	{% if site.logo != null %}
		<div class="wrap">
			<a href="{{ site.url }}" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.baseurl }}/assets/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
		</div>
	{% endif %}
</header>
{% endif %}

<div class="js-menu-screen menu-screen"></div>
