<h3>
Kelime Kelime Ayet
</h3>
<a class="links" href="https://jeruselam.github.io/Munafikun-Suresi/">
63. Munâfikûn Sûresi

(1) Münafıklar sana geldikleri zaman muhakkak ki senin Allah’ın elçisi olduğuna tanıklık ederiz derler ve Allah bilir (ki) sen muhakkak onun elçisisin ve Allah münafıkların yalancılıklarına şüphesiz tanıklık eder. </a>
<a class="links" href="https://jeruselam.github.io/Munafikun-Suresi/">Kafirler</a>
<a class="links" href="https://jeruselam.github.io/Munafikun-Suresi/">İnananlar</a>

<script src="/js/jquery-1.11.3.min.js"></script>

<script> 
$(document).ready(function() {
  var $anch = $("a.links");
  $anch.hide().eq(0).show();
  var nTotal = $anch.length;
  var nPos = 0;
  setInterval(RotateLinks, 12000);

  function RotateLinks() {
    $anch.eq(nPos).fadeOut("slow", function() {
      nPos++;
      if (nPos == nTotal) {
        nPos = 0;
      }
      $anch.eq(nPos).fadeIn("slow")
    });
  }
});

</script>
