<h3>
Münafıklar
</h3>

<section class="w3-container w3-orange w3-hover-yellow">
<article class="entry-unrelated">
<div class="teaser clearfix">
<a class="links" href="https://jeruselam.github.io/Munafikun-Suresi/">
(1) Münafıklar sana geldikleri zaman muhakkak ki senin Allah’ın elçisi olduğuna tanıklık ederiz derler ve Allah bilir (ki) sen muhakkak onun elçisisin ve Allah münafıkların yalancılıklarına şüphesiz tanıklık eder. (63. Munâfikûn Sûresi)</a></div>
<div class="teaser clearfix">
<a class="links" href="https://jeruselam.github.io/Fetih-Suresi/">(6) ve Allah hakkında kötü zan ile zanda bulunan münafık erkeklere ve münafık kadınlara ve ortak koşan erkeklere ve ortak koşan kadınlara azabetsin diye kötülük çemberi (olaylar) başlarına gelsin! Allah onlara gazab etmiştir ve onları la’netlemiştir ve onlara cehennemi hazırlamıştır ve orası ne kötü varılacak bir yerdir </a></div>
<div class="teaser clearfix">
<a class="links" href="https://jeruselam.github.io/Hadid-Suresi/">(13) o gün münafık erkekler ve münafık kadınlar mü’minlere derler ki, bize bakın, sizin nurunuzdan yararlanalım, denilir ki, arkanıza dönün ve nur arayın, sonra aralarına kapısı olan bir sur çekilir, onun içinde rahmet ve dış yönünde azab vardır</a></div></article></section>

<script src="/js/jquery-1.11.3.min.js"></script>

<script> 
$(document).ready(function() {
  var $anch = $("a.links");
  $anch.hide().eq(0).show();
  var nTotal = $anch.length;
  var nPos = 0;
  setInterval(RotateLinks, 19000);

  function RotateLinks() {
    $anch.eq(nPos).fadeOut("slow", function() {
      nPos++;
      if (nPos == nTotal) {
        nPos = 0;
      }
      $anch.eq(nPos).fadeIn("slow")
    });
  }
});

</script>
