<html>
<head>
<title>Bir Ayet</title>
<style>
body {
  font-size: 9pt;
  font-family: Awesome;
}
</style>
</head>
<body>

<div id="Links"> <a class="links" href="https://jeruselam.github.io/Munafikun-Suresi/">Münafıklar sana geldikleri zaman muhakkak ki senin Allah’ın elçisi olduğuna tanıklık ederiz derler ve Allah bilir (ki) sen muhakkak onun elçisisin ve Allah münafıkların yalancılıklarına şüphesiz tanıklık eder.</a>
  <a class="links" href="https://jeruselam.github.io/Fetih-Suresi/">ve Allah hakkında kötü zan ile zanda bulunan münafık erkeklere ve münafık kadınlara ve ortak koşan erkeklere ve ortak koşan kadınlara azabetsin diye kötülük çemberi (olaylar) başlarına gelsin! Allah onlara gazab etmiştir ve onları la’netlemiştir ve onlara cehennemi hazırlamıştır ve orası ne kötü varılacak bir yerdir</a></div>
<script src="https://jeruselam.github.io/assets/js/vendor/jquery-1.11.3.min.js"></script>
<script src="https://malsup.github.io/jquery.cycle.js"></script>

<script> 
$(document).ready(function() {
  $('#Links').cycle({
        speed: 1000,
        timeout: 15000,
        loader: true
    });
})
</script>
</body>
</html>
