<!DOCTYPE html>
<html lang="tr" xml:lang="tr">
<head>
{% include head.html %}
</head>
{% include navigation.html %}


<!-- /#infinitive scroll for words-->
<script type="text/javascript">
// content selector is used to extract the additional items 
$('.content').jscroll({
    contentSelector: "li",
    padding: 20,
    nextSelector: 'a.jscroll-next:last'
});
</script>
<script src="/js/jquery-1.11.3.js"></script>
<script src="/js/jquery.jscroll-2.3.9.js"></script>

<!-- /#main -->

<div class="footer-wrapper">
  <footer class="entry-wrapper">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

<!-- /.Back-top -->
<div class='container'>
<button onclick="topFunction()" id="myBtn" title="Go to top">Yukarı</button>
<div class='clearfix'></div></div>  
<script src="/js/back-to-top.js"></script><!-- /.Back-top -->

<p id="Bot"></p>

{% include scripts.html %}
{% include analytics.html %}
</body>
</html>
