---
layout: compress
---

<!DOCTYPE html>
<html lang="tr-TR">
    {% include head.html %}
    <body class="otherpost_body">
        {% include analytics.html %}
        {% include footer.html %}
        {% include navigation.html %}
    </body>
        <section class="post" itemscope itemtype="http://schema.org/WebPage">
            <article role="article" id="scroll" class="post-content" role="main" itemprop="mainContentOfPage">
                {{ content }}
            </article>
            {% include scripts.html %}
        </section>
    </body>
</html>
